<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <h1>
        <%= product.name %>
    </h1>
    <% if(product.imageUrl){%>
            <img src="/<%= product.imageUrl %>" alt="<%= product.name %>" width="300px">
        <% } else { %>
            <p>No image available</p>
        <% }  %>
    <h2>
        <%= product.price %>฿
    </h2>

    <p>Create At:
        <%= product.createdAt.toDateString() %>
    </p>
    <a href="/products">Back to all products</a>
    <a href="/products/<%= product._id %>/edit">Edit this products</a>
</body>
</html>