<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Product</title>
</head>
<body>
    <h1>Our Products</h1>
    <a href="/products/new">Add new Products</a>
    <ul>
        <% products.forEach(product =>{ %>
            <li>
                <% if(product.imageUrl){ %>
                    <img src="/<%= product.imageUrl %>" alt="<%= product.name %>" height="300px" width="300px">
                <% } %>    
                <%= product.name %> : <%= product.price %> ฿
                <a href="/products/<%= product._id %>">Views</a>
                <a href="/products/<%= product._id %>/edit">Edit</a>
                <form action="/products/<%= product._id %>?_method=DELETE" method="POST" style = "display:inline">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    
</body>
</html>
